* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #000000, #3533cd);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

footer {
    text-align: center;
    color: white;
    padding: 10px 0;
    font-size: 0.9em;
    margin-top: auto; /* Empurra o footer para o final */
}

.home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000; /* Garante que o botão fique acima de outros elementos */
}

.home-button:hover {
    background-color: #45a049; /* Cor do botão ao passar o mouse */
}